body {
  margin: 0;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor-uno {
  height: 614px;
  width: 100%;
  background-image: url("./puntitos.png");
}
@media (min-width: 769px) {
  .contenedor-uno {
    height: 616px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.contenedor-rectangulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.compu-header {
  display: none;
}
@media (min-width: 769px) {
  .contenedor-rectangulo {
    display: none;
  }
  .compu-header {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-right: 103px;
  }
}
.rectangulo {
  width: 40px;
  height: 8px;
  background-color: black;
  margin-bottom: 8px;
}

.logo {
  height: 100px;
}
@media (min-width: 769px) {
  .logo {
    height: 150px;
  }
}

.main {
  margin: 0;
}

.center-12 {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 769px) {
  .center-12 {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-left: 60px;
  }
}

.bienvenida {
  width: 291px;
  height: 96px;
}
.bienvenida-h1 {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
}
.imagen-main {
  height: 320px;
  margin: 80px auto;
}
.center-doge {
  display: flex;
  align-items: center;
  align-content: center;
}
@media (min-width: 769px) {
  .imagen-main {
    height: 420px;
    margin: 0;
  }
  .center-doge {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: baseline;
    align-content: flex-start;
  }
}

.seccion-1 {
  position: absolute;
  height: 538px;
  width: 100%;
  left: 0px;
  margin-top: 22px;
  border-radius: 0px;
  background-color: black;
}
@media (min-width: 769px) {
  .seccion-1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 90px;
    position: absolute;
    height: 538px;
    width: 100%;
    left: 0px;
    margin-top: 22px;
    border-radius: 0px;
    background-color: black;
  }
}
.nombre-sec1 {
  height: 44px;
  width: 271px;
  margin: 55px auto;
  text-align: center;
}
@media (min-width: 769px) {
  .nombre-sec1 {
    height: 44px;
    width: 271px;
    margin: 0;
    text-align: center;
  }
}
.desktop-sec1 {
}
@media (min-width: 769px) {
  .desktop-sec1 {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-content: space-between;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    height: 250px;
  }
}
.presentacion-h2 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -2px;
}
@media (min-width: 769px) {
  .presentacion-h2 {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -2px;
    text-align: left;
  }
}
.contenedor-info {
  min-width: 1px;
  max-height: 193px;
  max-width: 312px;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .contenedor-info {
    min-width: 312px;
    min-height: 193px;
    max-width: 532px;
    max-height: 165px;
    margin: 0;
  }
}
.sobre-mi {
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
@media (min-width: 769px) {
  .sobre-mi {
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
}

.check-img {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
}
@media (min-width: 769px) {
  .img-check-desktop {
    height: 211px;
  }
  .check-img {
    display: flex;
    justify-content: flex-end;

    height: 430px;
    width: 50%;
    margin-top: 50px;

    align-items: center;
  }
}

.seccion-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  height: 1375px;
  width: 100%;
  margin-left: 0px;
  margin-top: 560px;
  border-radius: 0px;
  background-color: #fafafa;
}
.servicios-h2-desktop {
  display: none;
}
@media (min-width: 769px) {
  .servicios-h2-desktop {
  }
}
@media (min-width: 769px) {
  .seccion-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    height: 604px;
    width: 100%;
    margin-left: 0px;
    margin-top: 560px;
    margin-bottom: 108px;
    border-radius: 0px;
    background-color: #fafafa;
  }
}

.servicios-h2 {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -2px;
  text-align: center;
  margin-top: 69px;
}
@media (min-width: 769px) {
  .servicios-h2 {
    grid-column-start: 2;

    font-family: "Open Sans", sans-serif;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 44px;
    letter-spacing: -2px;
    text-align: center;
  }
}

.subtitulos-servicios {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
@media (min-width: 769px) {
  .posicion1 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .posicion2 {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .posicion3 {
    grid-column-start: 3;
    grid-row-start: 2;
  }
}

.img-compu1 {
  display: block;
  margin: auto;
  margin-top: 20px;
}
@media (min-width: 769px) {
  .img-compu1 {
    display: block;
    margin: auto;
  }
}

.img-compu {
  display: block;
  margin: auto;
  margin-top: 80px;
}
@media (min-width: 769px) {
  .img-compu {
    display: block;
    margin: auto;
  }
}

.parrafo-servicios {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 262px;
  height: 117px;
}
@media (min-width: 769px) {
  .parrafo-servicios {
    margin: 0 auto;
  }
}

.seccion-3 {
  height: 660px;
  width: 100%;
  margin-left: 0px;
  border-radius: 0px;
  background-color: #141414;
}
@media (min-width: 769px) {
  .seccion-3 {
    display: flex;
    justify-content: center;
    gap: 77px;
  }
}

.contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
}
@media (min-width: 769px) {
}

.boton {
  margin: 24px;
  width: 335px;
  height: 45px;
  background-color: #ffd953;
  border: none;
}
@media (min-width: 769px) {
  .boton {
    width: 376px;
  }
}

.email {
  background-color: #ffffff;
  width: 335px;
  height: 45px;
  border: none;

  font-family: "Roboto";
  font-size: 13px;
}
@media (min-width: 769px) {
  .email {
    width: 376px;
  }
}

.text {
  background-color: #ffffff;
  width: 335px;
  height: 113px;
  border: none;
  font-family: "Roboto";
  font-size: 13px;
  margin-bottom: 50px;
}
@media (min-width: 769px) {
}

.h2 {
  text-align: left;
  font-size: 13px;
  width: 335px;
  color: #ffffff;
  margin-bottom: 9px;
  margin-top: 27px;
}
@media (min-width: 769px) {
  .text {
    background-color: #ffffff;
    width: 376px;
  }
  .h2 {
    width: 376px;
  }
}

.h2-t {
  display: flex;
  width: auto;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  color: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;

  letter-spacing: -2px;
}
@media (min-width: 769px) {
  .h2-t {
    margin-top: 60px;
    font-size: 48px;
    line-height: 48px;
  }
}

.pie {
  height: 493px;
  background-color: #dbdbdb;
}
@media (min-width: 769px) {
  .pie {
    height: 346px;
    background-color: #c4c4c4;
    background-image: url("./puntitos.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 300px;
  }
}

.footer-yo {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  height: 210px;
}
@media (min-width: 769px) {
}

.derechos {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  margin-left: 20px;
  margin-top: 0px;
}
@media (min-width: 769px) {
  .derechos {
    font-size: 20px;
  }
}

.logo-2 {
  height: 120px;
}
@media (min-width: 769px) {
  .logo-2 {
    height: 200px;
  }
}

.footer-redes {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  height: 283px;
  gap: 20px;
}
@media (min-width: 769px) {
  .footer-redes {
    justify-content: center;
  }
}

.img-final {
  margin-left: 20px;
  height: 29px;
  width: 29px;
}
@media (min-width: 769px) {
}

.instagram {
  display: inline;
  margin-left: 20px;
}
@media (min-width: 769px) {
}

.nombres-logos {
  display: inline;
}
@media (min-width: 769px) {
}

.center {
  display: flex;
  align-items: center;
  align-content: center;
}
@media (min-width: 769px) {
}

.letras-redes {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
@media (min-width: 769px) {
}
